---
import { Container } from "@components/Container";
import { FirstStep } from "@components/Step";
import { SectionTitle } from "@components/Typography";
import { type Languages, useTranslations } from "@i18n/index";
import { Image } from "astro:assets";
import { steps } from "@assets/index";

const { lang } = Astro.params;

const t = useTranslations(lang as Languages, "whoWeAre.values");

const values = [
  {
    title: "innovation",
    description:
      "We constantly explore new technologies and develop cutting-edge software solutions, helping businesses stay ahead of the curve.",
  },
  {
    title: "transparency & trust",
    description:
      "Openness and trust are at the heart of our work. We build long-term relationships with our clients and within our team through honest and clear communication.",
  },
  {
    title: "Quality & Excellence",
    description:
      "High standards of quality are our priority. We strive for excellence in every project, delivering reliable, scalable, and efficient IT solutions.",
  },
  {
    title: "innovation",
    description:
      "We constantly explore new technologies and develop cutting-edge software solutions, helping businesses stay ahead of the curve.",
  },
  {
    title: "transparency & trust",
    description:
      "Openness and trust are at the heart of our work. We build long-term relationships with our clients and within our team through honest and clear communication.",
  },
  {
    title: "Quality & Excellence",
    description:
      "High standards of quality are our priority. We strive for excellence in every project, delivering reliable, scalable, and efficient IT solutions.",
  },
];
---

<Container class="overflow-hidden">
  <SectionTitle title={t("title")} type={t("type")} />
  <div class="swiper step-swiper mt-10">
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide duration-300 w-[280px] h-[578px]">
        <FirstStep />
      </div> -->
      {
        values.map((v, index) => (
          <>
            {index == 2 && (
              <div class="swiper-slide duration-300 w-[280px] h-[578px]">
                <FirstStep />
              </div>
            )}
            <div class="swiper-slide duration-300 w-[280px] h-[578px]">
              <div
                class:list={[
                  "flex flex-col gap-6 bg-brand-black text-brand-white font-gothic700",
                  "text-xl leading-6 w-full h-full p-4",
                ]}
              >
                <Image src={steps[index % 6]} alt="" />
                <h4 class="uppercase">{v.title}</h4>
                <p class="font-gothic">{v.description}</p>
              </div>
            </div>
          </>
        ))
      }
    </div>
  </div>
</Container>

<script>
  import Swiper from "swiper";

  new Swiper(".step-swiper", {
    slidesPerView: "auto",
    centeredSlides: false,
    loop: true,
    speed: 400,
    spaceBetween: 20,
    grabCursor: true,
    breakpoints: {
      1440: { slidesPerView: 4 },
      1280: { slidesPerView: 3 },
      768: { slidesPerView: 2 },
      0: { centeredSlides: false, spaceBetween: 0, slidesPerView: 1 },
    },
  });
</script>
