---
import "@style/cases.css";
import Layout from "@layouts/Layout.astro";
import { type Languages } from "@i18n/index";
import { cubeNear } from "src/assets";
import { IntroSection } from "@components/Sections";
import type { GetStaticPaths } from "astro";
import projectService from "@service/project.service";
import ProjectList from "@components/ProjectCard/ProjectList.astro";
import { Container } from "@components/Container";
import TabsSection from "@components/Sections/Cases/TabsSection.astro";
import type { IProjectDomain } from "@interfaces/project.domain";

export const getStaticPaths = (async ({ paginate }) => {
  const projectDomain: IProjectDomain[] = [
    ...(await projectService.getDomains()).data,
    {
      slug: "all",
      documentId: "",
      createdAt: "",
      id: 0,
      locale: "en",
      name: "all",
      publishedAt: "",
      updatedAt: "",
    },
  ];

  const requestProjects = Object.keys({ en: "" }).flatMap((v) =>
    projectDomain.map((domain) =>
      projectService
        .get({
          pagination: { limit: "max" },
          locale: v as Languages,
          filter:
            domain.id !== 0
              ? [
                  {
                    fields: ["project_domains", "documentId"],
                    value: domain.documentId,
                  },
                ]
              : [],
        })
        .then((response) => ({ lang: v, case: domain, response })),
    ),
  );

  const responses = await Promise.all(requestProjects);

  return responses.flatMap((v) => {
    return paginate(v.response.data, {
      params: { lang: v.lang, case: v.case.slug },
      props: { meta: v.response.meta },
      pageSize: 6,
    });
  });
}) satisfies GetStaticPaths;

const { page, meta } = Astro.props;
---

<Layout title="UniCode Cases">
  <main class="flex flex-col gap-y-[120px]">
    <div class="h-[168px] bg-black bg-opacity-45">
      <video
        autoplay
        muted
        loop
        class="relative -z-10 bg-black bg-opacity-45 h-full w-full object-cover"
      >
        <source src={cubeNear} type="video/mp4" />
      </video>
    </div>
    <IntroSection />

    <TabsSection />

    <Container>
      <ProjectList projects={page.data} />
    </Container>
  </main>
</Layout>
