---
interface Props {
  active?: boolean;
  href?: string;
  class?: string;
}

const { active, href, class: className } = Astro.props;
---

<a
  class:list={[
    "flex items-center justify-center",
    "w-10 h-[52px] text-20 font-gothic700 uppercase rounded-sm",
    "cursor-pointer select-none",
    "hover:bg-greenLight-200 hover:text-brand-green",
    { "text-brand-green": !active, " bg-brand-green text-brand-white": active },
    className,
  ]}
  href={href}
>
  <slot />
</a>
