---
import { Container } from '@components/Container';
import { FirstStep, StepAstro } from '@components/Step';
import { SectionTitle, TypographyAstro } from '@components/Typography';
import type { Languages } from '@i18n/ui';
import { useTranslations } from '@i18n/utils';
import whyUsService from '@service/whyUs.service';

const { lang } = Astro.params;

const t = useTranslations(lang as Languages, 'service.whyUs');

const { data } = await whyUsService.get({});
---

<Container>
  <SectionTitle title={t('title')} type={t('type')} />
  <article class='flex flex-col gap-10'>
    <TypographyAstro type='title-1' color='black' class={'xl:w-3/4 ml-auto'}>
      {t('subTitle')}
    </TypographyAstro>
  </article>

  <div class='swiper why-us-swiper mt-10'>
    <div class='swiper-wrapper'>
      {
        data.items.map((step, index) =>
          index !== 1 ? (
            <div class='swiper-slide duration-300 !w-[280px] !h-[360px]'>
              <StepAstro step={step} />
            </div>
          ) : (
            <>
              <div class='swiper-slide duration-300 !w-[280px] !h-[360px]'>
                <FirstStep />
              </div>
              <div class='swiper-slide duration-300 !w-[280px] !h-[360px]'>
                <StepAstro step={step} />
              </div>
            </>
          ),
        )
      }
    </div>
  </div>
</Container>

<script>
  import Swiper from 'swiper';

  new Swiper('.why-us-swiper', {
    slidesPerView: 'auto',
    centeredSlides: false,
    loop: true,
    speed: 400,
    spaceBetween: 20,
    grabCursor: true,
    breakpoints: {
      1440: { slidesPerView: 4 },
      1280: { slidesPerView: 3 },
      768: { slidesPerView: 2 },
      0: { centeredSlides: false, spaceBetween: 0, slidesPerView: 1 },
    },
  });
</script>
