---
import { Container } from "@components/Container";
import { Link } from "@components/Link";
import projectService from "@service/project.service";
import { formatLink } from "@utils/index";

const domains = await projectService.getDomains();
---

<Container>
  <div class="bg-brand-green px-2 py-2 rounded-lg">
    <section
      class:list={[
        "flex gap-x-24 scroll-smooth scroll-m-3 overflow-x-scroll",
        " carousel-block",
      ]}
    >
      <Link href={formatLink(Astro.url, `cases/all/1`)}>All cases</Link>
      {
        domains.data.map((v) => (
          <Link href={formatLink(Astro.url, `cases/${v.slug}/1`)}>
            {v.name}
          </Link>
        ))
      }
    </section>
  </div>
</Container>

<style>
  .carousel-block {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    > * {
      flex-shrink: 0;
    }
  }
</style>
