---
import { Button, ButtonType } from "@components/Button";
import { TextField } from "@components/TextField";
import FilePicker from "./FilePicker.astro";
import CheckBox from "./CheckBox.astro";
import { useTranslations, type Languages } from "@i18n/index";
import { routes } from "src/routes";
import { formatLink } from "@utils/format.link";

interface Props {
  table?: "contact-us" | "vacancy-replay";
}

const { lang } = Astro.params;
const { table = "contact-us" } = Astro.props;
const t = useTranslations(lang as Languages, "formContactUs");
---

<section
  class:list={[
    "bg-brand-black bg-opacity-85 px-4 md:px-[60px] 2xl:px-[120px] py-10 xl:py-8",
    "flex flex-col gap-x-8 gap-y-8 xl:flex-row clip after:hidden md:after:block",
  ]}
>
  <div class="flex-grow xl:w-1/2 mt-auto md:px-16 lg:px-0">
    <h3
      class="text-brand-beigeLight font-gothic uppercase text-20 z-50 relative"
    >
      {t("title")}
    </h3>
  </div>

  <form
    id="form-contac-us"
    data-table={table}
    class:list={["flex-grow w-full xl:max-w-[480px]", "flex flex-col gap-y-5"]}
  >
    <div class="flex flex-col gap-y-4">
      <TextField placeholder={t("nameLabel")} name="name" />
      <TextField placeholder={t("emailLabel")} type="email" name="email" />
      <TextField placeholder={t("messageLabel")} name="message" />
    </div>

    <div class="flex items-center gap-x-2">
      <FilePicker
        name="file"
        titleBtn={t("file.button")}
        label={t("file.label")}
        accept=".pdf"
      />
    </div>

    <CheckBox name="consent">
      <span class="text-14 font-gothic text-brand-white">
        {t("consent.start")}
        <a
          href={formatLink(Astro.url, routes.terms)}
          class="underline"
          target="_blank">{t("consent.terms")}</a
        >
        {t("consent.divider")}
        <a
          href={formatLink(Astro.url, routes.privacyPolicy)}
          class="underline"
          target="_blank"
        >
          {t("consent.privacyPolicy")}
        </a>
      </span>
    </CheckBox>
    <Button class="w-full" type={ButtonType.Secondary}>
      {t("submitBtn")}
    </Button>
  </form>
</section>

<script>
  import { actions } from "astro:actions";
  import { toast } from "@components/Toast";
  const form = document.querySelector("#form-contac-us") as HTMLFormElement;
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);
    const consent = formData.get("consent");
    const file = formData.get("file") as File;
    const entries = Array.from(formData.entries());
    const table = form.getAttribute("data-table");

    // form validation
    for (const [name, value] of entries) {
      if (typeof value === "string" && value !== "on") {
        const field = form.querySelector(`[name="${name}"]`);

        const errorField = field?.nextElementSibling;
        if (!value) {
          errorField?.classList.remove("hidden");
          field?.classList.add("border-b-red");
        } else {
          errorField?.classList.add("hidden");
          field?.classList.remove("border-b-red");
        }
      } else if (typeof value === "object") {
        const field = form.querySelector(`[name="${name}"]`)?.parentElement;

        const errorField = field?.nextElementSibling;
        if (value.size <= 0) {
          errorField?.classList.remove("hidden");
          field?.classList.add("border-b-red");
        } else {
          errorField?.classList.add("hidden");
          field?.classList.remove("border-b-red");
        }
      }
    }

    const consentField = form.querySelector(`[name="consent"]`)?.parentElement;

    const consentErrorField = consentField?.nextElementSibling;
    if (consent === null) {
      consentErrorField?.classList.remove("hidden");
    } else {
      consentErrorField?.classList.add("hidden");
    }

    if (!consent || file.size <= 0 || entries.some((v) => !v[1])) {
      toast("Fill in all fields and upload only one file", "error");
      return;
    }

    const { error, data } =
      table === "vacancy-replay"
        ? await actions.vacancyReplay(formData)
        : await actions.contactUs(formData);
    console.log("error", error);

    if (data?.success) {
      toast("Form submitted", "success");
      form.reset();
    }

    form.reset();
  });
</script>

<style>
  .clip {
    position: relative;
    /* clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 9%); */
  }
  .clip::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0;
    height: 0;
    border-right: 80px solid transparent;
    border-top: 60px solid #f3f3ef;
  }
</style>
