---
import { step_6 } from "@assets/image/steps";
import { AccordionAstro } from "@components/Accordion";
import { Container } from "@components/Container";
import { SectionTitle, TypographyAstro } from "@components/Typography";
import type { Languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import type { IListWithTitle } from "@interfaces/index";
import { Image } from "astro:assets";

interface Props {
  list: IListWithTitle[];
}

const { lang } = Astro.params;

const t = useTranslations(lang as Languages, "vacancy.description");
const { list } = Astro.props;
---

<Container>
  <SectionTitle type={t("type")} title={t("title")} />
  {
    list.map((item, index) => (
      <AccordionAstro open={index === 0}>
        <section slot="title" class="flex flex-row gap-y-4 items-center">
          <TypographyAstro
            type="body-2"
            class="flex-[1_1_25%] text-brand-beige tracking-[0.8px]"
          >
            [ {(index + 1).toString().padStart(2, "0")} ]
          </TypographyAstro>
          <p
            class="flex-[1_1_75%]"
            class:list={[
              "text-brand-black font-gothic700 uppercase font-bold",
              "text-20 2xl:text-24",
            ]}
          >
            {item.title}
          </p>
        </section>

        <section class="flex flex-row gap-y-4 overflow-auto">
          <div class="2xl:flex-[0_1_75%] w-full 2xl:ml-auto flex flex-col md:flex-row justify-between">
            <ul class="space-y-4 list-disc text-wrap">
              {item.items.map((item) => (
                <li class="ml-8 lg:max-w-[480px] font-normal font-gothic text-16 md:text-20 tracking-1 text-gray-700">
                  {item.text}
                </li>
              ))}
            </ul>
            <Image src={step_6} alt="" class="invert w-[220px] h-[220px]" />
          </div>
        </section>
      </AccordionAstro>
    ))
  }
</Container>
