---
import { Button } from "@components/Button";
import { Container } from "@components/Container";
import ProjectCard from "@components/ProjectCard/ProjectCard.astro";
import { SectionTitle } from "@components/Typography";
import type { Languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import type { IProject } from "@interfaces/project";

interface Props {
  projects: IProject[];
}

const { lang } = Astro.params;
const { projects } = Astro.props;

const t = useTranslations(lang as Languages, "project.more");
---

<Container>
  <SectionTitle title={t("title")} type={t("type")} />
  <section class="grid md:grid-cols-2 gap-y-5 gap-x-5 mb-5">
    {projects.map((v) => <ProjectCard project={v} class="project-more" />)}
  </section>
  <Button withArrow href="/todo" class="w-full">{t("button")}</Button>
</Container>

<style is:global>
  .project-more {
    flex-direction: column-reverse;
  }

  @media (min-width: 768px) {
    .project-more:nth-child(2n + 1),
    .project-more:nth-child(2n + 2) {
      grid-column: span 2;
      gap: 0 20px;
      flex-direction: column-reverse;
    }
  }

  @media (min-width: 960px) {
    .project-more:nth-child(6n + 1),
    .project-more:nth-child(6n + 2) {
      flex-direction: row;
    }

    .project-more:nth-child(6n + 2) {
      flex-direction: row-reverse;
    }
  }
</style>
