---
import Layout from "@layouts/Layout.astro";
import "@style/services.css";
---

<Layout title="Services">
  <main class="mt-1 mb-2 mr-3 ml-4 text-white">
    <p>Test</p>
    <a href="/" class="link-test">Home</a>
  </main>
</Layout>

<style>
  .a {
  }
</style>
