---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class:list={["container-content", className]}>
  <slot />
</section>

<style is:global>
  .container-content {
    margin-left: auto;
    margin-right: auto;
    width: "100%";
  }

  @media (min-width: 414px) {
    .container-content {
      max-width: 382px;
    }
  }

  @media (min-width: 768px) {
    .container-content {
      max-width: 612px;
    }
  }

  @media (min-width: 800px) {
    .container-content {
      max-width: 736px;
    }
  }

  @media (min-width: 1024px) {
    .container-content {
      max-width: 852px;
    }
  }

  @media (min-width: 1280px) {
    .container-content {
      max-width: 1092px;
    }
  }

  @media (min-width: 1600px) {
    .container-content {
      max-width: 1280px;
    }
  }
</style>
