---
import { TypographyAstro } from "@components/Typography";

interface Props {
  tracking: Record<string, number>;
}

const { tracking } = Astro.props;
---

<section class="swiper track-swiper">
  <div class="swiper-wrapper">
    <div class={`swiper-slide w-[132px] duration-300 h-full`}>
      <div
        class={`block rounded text-center bg-brand-green text-brand-white px-2 py-4 `}
      >
        <TypographyAstro color="white" class="rotate-90 w-full">
          Start
        </TypographyAstro>
      </div>
    </div>
    {
      Object.entries(tracking || {}).map(([key, value]) => (
        <div class={`swiper-slide w-[132px] mt-auto duration-300 h-full`}>
          <div
            class={`flex flex-col justify-between rounded bg-brand-black text-brand-white items-center px-2 py-4 `}
            style={{ height: value * 42 + "px" }}
          >
            <p>{value}%</p>
            <p>{key}</p>
          </div>
        </div>
      ))
    }
    {
      Object.entries(tracking || {}).map(([key, value]) => (
        <div class={`swiper-slide w-[132px] mt-auto duration-300 h-full`}>
          <div
            class={`flex flex-col justify-between rounded bg-brand-black text-brand-white items-center px-2 py-4 `}
            style={{ height: value * 42 + "px" }}
          >
            <p>{value}%</p>
            <p>{key}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

<script>
  import Swiper from "swiper";

  new Swiper(".track-swiper", {
    slidesPerView: "auto",
    centeredSlides: false,
    loop: true,
    speed: 400,
    spaceBetween: 8,
    grabCursor: true,
  });
</script>
