---
import { TypographyAstro } from "@components/Typography";

interface Props {
  tracking: Record<string, number>;
}

const { tracking } = Astro.props;
const maxValue = Object.values(tracking).reduce(
  (acc, cur) => (cur > acc ? cur : acc),
  0,
);
const trackingLength = Object.keys(tracking).length;
---

<section class="swiper track-swiper">
  <div class="swiper-wrapper" style={`height: ${maxValue * 20 + 80}px`}>
    <div class={`swiper-slide w-[132px] duration-300 h-full`}>
      <div
        class={`rounded text-center flex items-center bg-brand-green h-full text-brand-white px-2 py-4 `}
      >
        <TypographyAstro color="white" class="w-full"> Start </TypographyAstro>
      </div>
    </div>
    {
      Object.entries(tracking || {}).map(([key, value]) => (
        <div class={`swiper-slide w-[132px] flex h-full duration-300`}>
          <div
            class={`flex flex-col justify-between rounded mt-auto w-full bg-brand-black text-brand-white items-center px-2 py-4 `}
            style={{ height: value * 20 + 80 + "px" }}
          >
            <p>{value}%</p>
            <p>{key}</p>
          </div>
        </div>
      ))
    }

    <!-- Duplicate if length is less than 9 -->
    {
      trackingLength < 9 && (
        <div class={`swiper-slide w-[132px] duration-300 h-full`}>
          <div
            class={`rounded text-center flex items-center bg-brand-green h-full text-brand-white px-2 py-4 `}
          >
            <TypographyAstro color="white" class="w-full">
              {" "}
              Start{" "}
            </TypographyAstro>
          </div>
        </div>
      )
    }
    {
      trackingLength < 9 &&
        Object.entries(tracking || {}).map(([key, value]) => (
          <div class={`swiper-slide w-[132px] flex h-full duration-300`}>
            <div
              class={`flex flex-col justify-between rounded mt-auto w-full bg-brand-black text-brand-white items-center px-2 py-4 `}
              style={{ height: value * 20 + 80 + "px" }}
            >
              <p>{value}%</p>
              <p>{key}</p>
            </div>
          </div>
        ))
    }
  </div>
</section>

<script>
  import Swiper from "swiper";

  new Swiper(".track-swiper", {
    slidesPerView: "auto",
    centeredSlides: false,
    loop: true,
    speed: 400,
    spaceBetween: 8,
    grabCursor: true,
  });
</script>
