---
import Layout from "@layouts/Layout.astro";

import { languages, useTranslations, type Languages } from "@i18n/index";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
  return Object.keys(languages).map((v) => ({
    params: { lang: languages[v].slug },
  }));
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const t = useTranslations(lang as Languages, "404");
---

<Layout title="404">
  <main class="">
    <p class="text">404</p>
    <p class="text">{t("message")}</p>
  </main>
</Layout>

<style>
  main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text {
    font-size: 60px;
  }
</style>
