---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404">
  <main class="">
    <p class="text">404</p>
    <p class="text">Not found page</p>
  </main>
</Layout>

<style>
  main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text {
    font-size: 60px;
  }
</style>
