---
import "@style/home.css";
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import {
  AboutSection,
  HeroSection,
  AdvantagesSection,
  PartnersSections,
  ProjectsSection,
  ServicesSection,
  TestimonialsSection,
} from "@components/Sections";
import ContactUsSection from "@components/Form/ContactUsSection.astro";
import { languages } from "@i18n/index";

export const getStaticPaths = (() => {
  return [
    ...Object.keys(languages).map((v) => ({ params: { lang: v } })),
    { params: { lang: "" } },
  ];
}) satisfies GetStaticPaths;

const lang = [...Object.keys(languages), ""];
console.log(
  lang.map((v) => ({
    value: v,
  })),
);
---

<Layout title="UniCode">
  <link
    slot="head"
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <main>
    <HeroSection />
    <div class="flex flex-col gap-y-[120px]">
      <AboutSection />
      <ServicesSection />
      <PartnersSections />
      <ProjectsSection />
      <AdvantagesSection />
      <TestimonialsSection />
      <ContactUsSection
        text={[
          { text: "Every journey", alight: "right", variant: "contained" },
          { text: "starts from the", alight: "none", variant: "contained" },
          { text: "first step", alight: "left", variant: "outlined" },
        ]}
      />
    </div>
  </main>
</Layout>
