---
import { ButtonAstro } from "@components/Button";
import { Container } from "@components/Container";
import { TypographyAstro } from "@components/Typography";
import { Human } from "src/assets";
---

<Container class="mt-14">
  <h2
    class:list={["text-h1 sm1:text-h3 xl1:text-h6 font-bold font-asket800"]}
    class="text-green-200 md1:inline block uppercase"
  >
    have you
  </h2>
  <h2
    class:list={["text-h1 sm1:text-h3 xl1:text-h6 font-bold font-asket800"]}
    class="text-transparent text-stroken-green inline uppercase"
  >
    ever
  </h2>

  <h2 class="uppercase font-asket800">
    <span
      class:list={["text-h1 sm1:text-h3 xl1:text-h6 font-bold"]}
      class="text-transparent text-stroken-green"
    >
      counted
    </span>
    <span
      class:list={["text-h1 sm1:text-h3 xl1:text-h6 font-bold"]}
      class="text-green-200"
    >
      of a single
    </span>
  </h2>

  <section class="flex flex-wrap uppercase font-asket800">
    <span
      class="text-green-200 flex-[1_1_100%] font-bold"
      class:list={[
        "sm:ml-[100px] sm:flex-none",
        "text-h1 sm1:text-h3 xl1:text-h6",
      ]}
    >
      mis
    </span>
    <div class="flex-grow h-1 bg-green-200 my-auto mx-2"></div>
    <span
      class:list={["text-h1 sm1:text-h3 xl1:text-h6"]}
      class="text-green-200 font-bold"
    >
      hire?
    </span>
  </section>

  <section
    class="flex flex-col md1:flex-row gap-x-14 justify-between gap-y-4 mt-10 font-gothic"
  >
    <div>
      <TypographyAstro type="body-4" class="md1:w-[480px]">
        We are firm believers that: no matter the size or budgets of a company,
        they should have access to the very best technical expertise to overcome
        any challenge. We also know that talented professionals crave dynamic
        and engaging environments to truly shine. Our mission is to unite these
        two values and empower businesses and professionals alike to achieve
        greatness.
      </TypographyAstro>

      <ButtonAstro color="black" class="mt-5">more about us</ButtonAstro>
    </div>

    <div class="md1:max-w-[704px] object-cover w-full">
      <img
        class="min-h-full object-cover min-w-full"
        src={Human.src}
        alt="human face of number"
      />
    </div>
  </section>
</Container>
