---
import { Container } from "@components/Container";
import { SectionTitle, TypographyAstro } from "@components/Typography";
import { cubeSide, Eye } from "src/assets";
---

<div class="bg-coal py-20">
  <Container>
    <SectionTitle
      type="Advantages"
      title="Nothing kills business faster than a entry-level developers"
      colorTitle="text-biscuit"
    />
    <section
      class="grid grid-cols-2 grid-rows-5 sm1:grid-cols-4 sm1:grid-rows-4"
    >
      <video
        autoplay
        muted
        loop
        class="sm1:col-span-2 sm1:row-span-2 h-full w-full object-cover"
      >
        <source src={cubeSide} type="video/mp4" /></video
      >

      <div
        class="row-start-1 col-start-2 sm1:row-start-auto sm1:col-start-auto"
      >
      </div>

      <article
        class="xl:p-4 p-2 border-r sm1:border border-biscuit row-start-1 sm1:row-start-auto"
      >
        <h6
          class="mb-3 text-biscuit text-body4 sm2:font-bold sm:text-body1 xl:text-body3 xl2:text-body4"
        >
          EXPERT TEAM
        </h6>
        <TypographyAstro
          type="body-4"
          color="white"
          class="text-label3 xl:text-body4"
        >
          Stellar team, you would otherwise not have access to. Our community
          consists of more than 90% of senior developers and project managers
          with a T-shaped skill set.
        </TypographyAstro>
      </article>

      <article class="xl:p-4 p-2 border-t border-biscuit">
        <h6
          class="mb-3 text-biscuit text-body4 sm2:font-bold sm:text-body1 xl:text-body3 xl2:text-body4"
        >
          Remote Convenience
        </h6>
        <TypographyAstro
          type="body-4"
          color="white"
          class="text-label3 xl:text-body4"
        >
          100% remote and always just a click away. We ensure seamless
          communication and collaboration, no matter where you are.
        </TypographyAstro>
      </article>

      <div class="hidden sm1:block"></div>
      <div class="hidden sm1:block"></div>

      <article
        class="xl:p-4 p-2 border-r border-b sm1:border-l sm1:border-t border-biscuit"
      >
        <h6
          class="mb-3 text-biscuit text-body4 sm2:font-bold sm:text-body1 xl:text-body3 xl2:text-body4"
        >
          Empathetic Approach
        </h6>
        <TypographyAstro
          type="body-4"
          color="white"
          class="text-label3 xl:text-body4"
        >
          We approach every project with empathy and understanding that every
          client has unique pains and needs.
        </TypographyAstro>
      </article>

      <div class="text-white"></div>
      <div class="sm1:hidden"></div>

      <article class="xl:p-4 p-2 sm1:border border-biscuit">
        <h6
          class="mb-3 text-biscuit text-body4 sm2:font-bold sm:text-body1 xl:text-body3 xl2:text-body4"
        >
          Efficient Execution
        </h6>
        <TypographyAstro
          type="body-4"
          color="white"
          class="text-label3 xl:text-body4"
        >
          We excel in project management ensuring that your project is executed
          efficiently and effectively.
        </TypographyAstro>
      </article>

      <article class="xl:p-4 p-2 sm1:border-l sm1:border-b border-biscuit">
        <h6
          class="mb-3 text-biscuit text-body4 sm2:font-bold sm:text-body1 xl:text-body3 xl2:text-body4"
        >
          Values-Driven
        </h6>
        <TypographyAstro color="white" class="text-label3 xl:text-body4">
          We are deeply committed to our values of decency, meaningful
          engagement, standards, and synergy, which reflect in everything we do.
        </TypographyAstro>
      </article>

      <div class="hidden sm1:block"></div>

      <figure class="border border-biscuit">
        <img src={Eye.src} alt="Eye image" />
      </figure>
    </section>
  </Container>
</div>
