---
import { getFromLocale, useTranslations } from "@i18n/index";
import { cubeNear, logo } from "src/assets";
import { TypographyAstro } from "@components/Typography";

const lang = getFromLocale(Astro.currentLocale);
const t = useTranslations(lang, "hero");
---

<section class="relative min-h-[788px] pt-[136px] flex">
  <video
    autoplay
    muted
    loop
    class="absolute -z-10 top-0 right-0 left-0 bg-black bg-opacity-45 h-full w-full object-cover"
  >
    <source src={cubeNear} type="video/mp4" />
  </video>
  <div
    class="flex flex-col sm2:flex-row justify-between h-full my-auto container"
  >
    <img class="flex-[0_1_50%] max-w-[100%] w-full" src={logo.src} alt="logo" />
    <article
      class="max-w-[520px] w-full flex flex-col justify-between flex-[1_1_40%]"
    >
      <div class="text-5xl font-extrabold">
        <h5 class="text-brand-white mb-3">{t("title")}</h5>
        <h5 class="text-brand-beigeLight">{t("subTitle")}</h5>
      </div>
      <TypographyAstro color="white" type="body-4"
        >{t("descripton")}</TypographyAstro
      >
    </article>
  </div>
</section>
