---
import { CommentAstro } from "@components/Comment";
import { Container } from "@components/Container";
import { SectionTitle } from "@components/Typography";
import commentService from "@service/comment.service";

const comments = await commentService.get();
---

<Container class="overflow-hidden">
  <SectionTitle
    type="TESTIMONIALS"
    title="Our clients talk about testing the results that we can achieve together."
  />

  <section class="swiper comment-swiper">
    <div class="swiper-wrapper">
      {
        comments.data.map((v) => (
          <div class="swiper-slide sm1:!w-2/3 md1:max-w-[680px] duration-300">
            <CommentAstro comment={v} class="flex-col xl:flex-row" />
          </div>
        ))
      }
    </div>
  </section>
</Container>

<script>
  import Swiper from "swiper";

  new Swiper(".comment-swiper", {
    slidesPerView: "auto",
    centeredSlides: true,
    loop: true,
    speed: 400,
    spaceBetween: 20,
  });
</script>

<style>
  .swiper-slide {
    transform: scale(0.8);
    filter: blur(2px);
  }

  .swiper-slide-active {
    transform: scale(1);
    filter: blur(0px);
  }
</style>
