---
import Layout from "@layouts/Layout.astro";

import { languages, useTranslations, type Languages } from "@i18n/index";
import type { GetStaticPaths } from "node_modules/astro/dist/@types/astro";

export const getStaticPaths = (() => {
  return Object.keys(languages).map((v) => ({
    params: { lang: languages[v].slug },
  }));
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const t = useTranslations(lang as Languages, "404");
---

<Layout title="404">
  <main class="h-dvh flex flex-col items-center justify-center">
    <p class="text-48">404</p>
    <p class="text-48">{t("message")}</p>
  </main>
</Layout>

<style></style>
