---
import Layout from "@layouts/Layout.astro";

import { languages, useTranslations, type Languages } from "@i18n/index";
import type { GetStaticPaths } from "astro";
import { HeroHeadAstro } from "@components/Hero";
import { ArrowRight, circleWithHoleToLeft } from "@assets/index";
import { ButtonAstro } from "@components/Button";

export const getStaticPaths = (() => {
  return Object.keys(languages).map((v) => ({
    params: { lang: languages[v].slug },
  }));
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const t = useTranslations(lang as Languages, "404");
---

<Layout title="404">
  <main class="w-full">
    <HeroHeadAstro />
    <section class:list={["py-16 pb-52", "flex flex-col items-center gap-8"]}>
      <section
        class:list={[
          "h-[240px]",
          "flex items-center gap-[44px]",
          "text-stroken-green-2 text-[19em] font-gothic700",
        ]}
      >
        4
        <img
          src={circleWithHoleToLeft.src}
          class="h-full w-full aspect-square max-w-[220px]"
        />
        4
      </section>
      <article class="flex flex-col gap-3 items-center">
        <p class="font-asket800 text-24 font-extrabold uppercase">
          Oops! You’re lost!
        </p>
        <p class="font-gothic700 text-20 uppercase">
          Sorry, we can’t find the page you’re looking for.
        </p>
      </article>

      <ButtonAstro
        >go back home page <ArrowRight class="-rotate-45" />
      </ButtonAstro>
    </section>
  </main>
</Layout>
