---
import "@style/home.css";
import Layout from "@layouts/Layout.astro";
import { getFromLocale, useTranslations } from "@i18n/index";
import { AboutSection, HeroSection } from "@components/Sections/intex";

const lang = getFromLocale(Astro.currentLocale);
const t = useTranslations(lang);
---

<Layout title="Welcome to Astro.">
  <main class="h-[300vh]">
    <HeroSection />
    <AboutSection />
    <section class="bg-black select-none text-white container"></section>
  </main>
</Layout>
