---
import "@style/home.css";
import Layout from "@layouts/Layout.astro";
import { getFromLocale, useTranslations } from "@i18n/index";
import {
  AboutSection,
  HeroSection,
  AdvantagesSection,
  PartnersSections,
  ProjectsSection,
  ServicesSection,
  TestimonialsSection,
} from "@components/Sections";

const lang = getFromLocale(Astro.currentLocale);
const t = useTranslations(lang);
---

<Layout title="UniCode">
  <link
    slot="head"
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <main>
    <HeroSection />
    <div class="flex flex-col gap-y-[120px]">
      <AboutSection />
      <ServicesSection />
      <PartnersSections />
      <ProjectsSection />
      <AdvantagesSection />
      <TestimonialsSection />
    </div>
  </main>
</Layout>
