---
import "@style/home.css";
import Layout from "@layouts/Layout.astro";
import { getFromLocale, useTranslations } from "@i18n/index";
import { AboutSection, HeroSection } from "@components/Sections/intex";
import ServicesSection from "@components/Sections/ServicesSection.astro";

const lang = getFromLocale(Astro.currentLocale);
const t = useTranslations(lang);
---

<Layout title="Welcome to Astro.">
  <main class="h-[300vh]">
    <HeroSection />
    <div class="flex flex-col gap-y-[120px]">
      <AboutSection />
      <ServicesSection />
      <section class="bg-black select-none text-white container"></section>
    </div>
  </main>
</Layout>
