---
import Layout from "@layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

import "@style/home.css";

const t = useTranslations("en");
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="bg-black select-none text-white">
      <p>{t("home")}</p>
      <p>{t("nav.home")}</p>
      <a href="/services">Services</a>
    </section>
  </main>
</Layout>
