---
import { TypographyAstro } from "@components/Typography";
---

<div
  class="flex items-center justify-center bg-brand-black text-brand-white"
  style="width: 100vw; height: 100vh"
>
  <TypographyAstro type="heading-6">TODO</TypographyAstro>
</div>
