---
import { TypographyAstro } from '@components/Typography';
import { VideoSource } from '@components/Video';

interface Props {
  videoSrc: string;
  text?: string;
  class?: string;
  artcleClass?: string;
}

const { videoSrc, text, class: className, artcleClass } = Astro.props;
---

<section
  class:list={[
    'grid min-h-24 items-center',
    'gap-3 xl:gap-[48px] 2xl:gap-[96px]',
    'grid-rows-[164px_auto] xl:grid-rows-none',
    'xl:grid-cols-[auto_508px]',
    className,
  ]}
>
  <article class:list={['order-1 xl:order-none', artcleClass]}>
    {
      text && (
        <TypographyAstro
          color='black'
          type='body-4'
          class='whitespace-pre-line'
        >
          {text}
        </TypographyAstro>
      )
    }
    <slot />
  </article>

  <section class='overflow-clip relative h-full'>
    <!-- aspect-[2.65/1] -->
    <VideoSource
      source={[{ src: videoSrc }]}
      class='mix-blend-difference absolute'
    />
  </section>
</section>
