---
interface Props {
  type?: "text" | "email" | "number";
  name?: string;
  placeholder?: string;
}

const { type = "text", name, placeholder } = Astro.props;
---

<div class:list={["min-h-10 py-[10px] px-4", "border-b border-brand-white"]}>
  <input
    type={type}
    name={name}
    placeholder={placeholder}
    class:list={[
      "w-full bg-transparent duration-500 transition-all ",
      "font-gothic text-brand-white text-base",
      "outline-none caret-brand-white",
      "focus:placeholder:px-2",
    ]}
  />
</div>
