---
import { Container } from "@components/Container";
import { SectionTitle } from "@components/Typography";
import { listCompany } from "src/assets/icon/company";
import "swiper/css";
---

<section>
  <Container>
    <SectionTitle
      title="OUR EXPERTISE ES DIVIDED FROM OUR community experts."
      type="PARTNERS"
    />
    <section class="w-full"></section>
  </Container>
  <div class="carousel">
    <div class="group">
      {
        listCompany.map((v) => (
          <div class="card bg-green">
            <img src={v.src} alt={v.src} />
          </div>
        ))
      }
    </div>

    <div aria-hidden class="group">
      {
        listCompany.map((v) => (
          <div class="card bg-green">
            <img src={v.src} alt={v.src} />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style is:global>
  .carousel {
    overflow: hidden;
    display: flex;

    > * {
      flex: 0 0 100%;
    }
  }

  .group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;

    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-name: horizontalSlide;
    animation-duration: 120s;
  }

  @keyframes horizontalSlide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 128px;
    color: white;
    padding: 20px;
  }
</style>
