---
import { step_6 } from "@assets/image/steps";
import { AccordionAstro } from "@components/Accordion";
import { ButtonAstro } from "@components/Button";
import { Container } from "@components/Container";
import { SectionTitle, TypographyAstro } from "@components/Typography";
import { useTranslations, type Languages } from "@i18n/index";

const { lang } = Astro.params;
const t = useTranslations(lang as Languages, "home.services");
const list = t("listOfOffer") as {
  title: string;
  description: string;
}[];
---

<Container>
  <SectionTitle title={t("title")} type={t("tag")} />
  <section class="flex flex-col gap-y-5">
    {
      list.map((v, i) => (
        <AccordionAstro open={i === 0}>
          <section slot="title" class="flex flex-row gap-y-4 items-center">
            <TypographyAstro
              type="body-2"
              class="flex-[1_1_25%] text-brand-beige tracking-[0.8px]"
            >
              [ {(i + 1).toString().padStart(2, "0")} ]
            </TypographyAstro>
            <p
              class="flex-[1_1_75%]"
              class:list={[
                "text-brand-black font-gothic700 uppercase font-bold",
                "text-20 2xl:text-24",
              ]}
            >
              {v.title}
            </p>
          </section>

          <section class="flex flex-row gap-y-4 overflow-auto">
            <div class="2xl:flex-[0_1_75%] w-full 2xl:ml-auto flex flex-col lg:flex-row justify-between">
              <div class="lg:max-w-[480px] w-full">
                <TypographyAstro type="body-4" class="my-6">
                  {v.description}
                </TypographyAstro>
                <ButtonAstro>explore</ButtonAstro>
              </div>
              <div class="h-full max-h-[240px] aspect-square">
                <img
                  class="h-full max-h-[240px] invert"
                  src={step_6.src}
                  alt={v.title}
                />
              </div>
            </div>
          </section>
        </AccordionAstro>
      ))
    }
  </section>
</Container>
