---
import { formatLink } from "@utils/index";
import { routes } from "src/routes";

const links = [
  { name: "Services", href: "#" },
  { name: "Cases", href: routes.cases },
  { name: "Expertise", href: "#" },
  { name: "About Us", href: "#" },
  { name: "Insights", href: "#" },
];

const url = Astro.url;
---

{
  links.map((link) => (
    <a href={formatLink(url, link.href)} class="text-white">
      {link.name}
    </a>
  ))
}
