---
import { smallLogo } from "src/assets";
import HeaderLinks from "./HeaderLinks.astro";
import { ButtonAstro } from "@components/Button";
import { getFromLocale, useTranslations } from "@i18n/index";
import { formatLink } from "@utils/index";

const lang = getFromLocale(Astro.currentLocale);
const t = useTranslations(lang, "header");
---

<div class="sticky h-0 inset-x-0 top-8 z-50 box-border mx-4 md:mx-8">
  <header
    class:list={[
      "flex items-center justify-between box-border ",
      "max-w-[1680px] mx-auto py-4 2xl:py-5 px-8",
      "relative before:absolute before:inset-0 before:-z-10 before:content-[''] before:bg-brand-black before:bg-opacity-[48%] before:shadow-inner before:backdrop-blur-xl",
    ]}
  >
    <a href={formatLink(Astro.url, "/")}>
      <img src={smallLogo.src} class="max-h-12 2xl:max-h-none" alt="logo" />
    </a>
    <nav class="ml-auto hidden 2xl:flex items-center gap-x-10">
      <HeaderLinks />
    </nav>

    <section class="flex gap-x-3">
      <ButtonAstro color="biscuit" variant="contained" class="2xl:ml-10">
        {t("contactUs")}
      </ButtonAstro>

      <button id="menu" class:list={["relative h-10 w-10 py-3 px-2 menu"]}>
        <span class="menu_line"></span>
        <span class="menu_line"></span>
        <span class="menu_line"></span>
      </button>
    </section>
  </header>
</div>

<script>
  const menu = document.querySelector("#menu");

  menu?.addEventListener("click", function (e) {
    menu.classList.toggle("active");
  });
</script>

<style>
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu_line {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 0.3s ease;
    opacity: 1;
  }

  .menu_line:nth-child(2) {
    transform-origin: center center;
  }

  .menu.active .menu_line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu.active .menu_line:nth-child(2) {
    opacity: 0;
    transform: rotate(45deg);
    height: 0px;
  }

  .menu.active .menu_line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
</style>
