---
import "@style/main.css";
import Header from "./Header/Header.astro";
import Footer from "./Footer/Footer.astro";
import { Toast } from "@components/Toast";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { lang } = Astro.params;
---

<!doctype html>
<html lang={lang || "en"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- Remove next line for allow robots on site (allow indexing) -->
    <meta name=”robots” content=”none”> 
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <title>{title}</title>
  </head>
  <body class="bg-brand-white">
    <Toast />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

  @font-face {
    font-family: "Gothic400";
    src: url("/fonts/centuryGothic/centurygothic.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gothic700";
    src: url("/fonts/centuryGothic/centurygothic_bold.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Asket800Condensed";
    src: url("/fonts/asket/asketCondensedExtrabold.otf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
  }
  @font-face {
    font-family: "Asket300Extended";
    src: url("/fonts/asket/asketExtendedLight.otf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-stretch: expanded;
  }
  @font-face {
    font-family: "Asket800";
    src: url("/fonts/asket/asketExtrabold.otf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-stretch: expanded;
    font-stretch: normal;
  }
  @font-face {
    font-family: "Asket300";
    src: url("/fonts/asket/asketNarrowLight.otf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-stretch: expanded;
    font-stretch: ultra-condensed;
  }
</style>
