---
interface Props {
  href?: string;
  class?: string;
  active?: boolean;
  disabled?: boolean;
  color?: "black" | "biscuit" | "green";
  variant?: "contained" | "none";
}

//  Deprecated -> use Button instead
const {
  href,
  class: className,
  active,
  color = "black",
  variant = "none",
  disabled = false,
} = Astro.props;
---

<a
  href={href}
  class:list={[
    "min-h-10 min-w-11 px-5 py-3 rounded-sm box-border font-gothic700",
    "cursor-pointer select-none duration-500",
    "uppercase text-center font-bold text-base",
    {
      "text-brand-white bg-brand-green":
        variant === "contained" && color === "biscuit" && !disabled,
      "hover:bg-brand-white hover:text-brand-green text-brand-white":
        color === "biscuit" && !disabled,
      "bg-brand-white text-brand-green!":
        color === "biscuit" && active && !disabled,
      "text-brand-green text-opacity-50": disabled,
    },
    {
      "bg-brand-black text-brand-white hover:bg-green-100 focus:bg-green-500":
        variant === "contained" && color === "black" && !disabled,
      "text-brand-black hover:bg-green-100 hover:text-brand-white":
        color === "black" && !disabled,
      "bg-brand-black text-brand-white":
        color === "black" && active && !disabled,
    },
    {
      "text-brand-green hover:bg-brand-green hover:text-brand-white":
        color === "green" && !disabled,
      "bg-brand-green text-brand-white!":
        color === "green" && active && !disabled,
    },
    className,
  ]}
>
  <slot />
</a>
